@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: "Architects Daughter";
    src: url("../fonts/architects-daughter/ArchitectsDaughter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Neuropol";
    src: url("../fonts/neuropol.otf") format("opentype");
}


@font-face {
    font-family: "Sephora";
    src: url("../fonts/sephora/Sephora.ttf") format("truetype"),
    url("../fonts/sephora/Sephora-Bold.ttf") format("truetype"),
    url("../fonts/sephora/Sephora-Italic.ttf") format("truetype");
}


:root {
    --primary-50: 236 253 245;
    --primary-100: 209 250 229;
    --primary-200: 167 243 208;
    --primary-300: 110 231 183;
    --primary-400: 52 211 153;
    --primary-500: 16 185 129;
    --primary-600: 5 150 105;
    --primary-700: 4 120 87;
    --primary-800: 6 95 70;
    --primary-900: 4 78 56;
    --primary-950: 2 44 34;
    --surface-0: 255 255 255;
    --surface-50: 248 250 252;
    --surface-100: 241 245 249;
    --surface-200: 226 232 240;
    --surface-300: 203 213 225;
    --surface-400: 148 163 184;
    --surface-500: 100 116 139;
    --surface-600: 71 85 105;
    --surface-700: 45 55 72;
    --surface-800: 30 41 59;
    --surface-900: 15 23 42;
    --surface-950: 3 6 23;
    --radius: 6px;
}


@layer tailwind-base {


    /* width */
    ::-webkit-scrollbar {
        width: theme('space[1.5]');
    }

    /*::-webkit-scrollbar-button/
        background-color: theme('colors.purple.500');
    }*!

    /* Track */
    ::-webkit-scrollbar-track {
        background: theme('colors.slate.200');
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: theme('colors.slate.800');
        border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: theme('colors.emerald.800');
    }

    @media (prefers-color-scheme: dark) {

        /* Track */
        ::-webkit-scrollbar-track {
            background: theme('colors.slate.600');
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: theme('colors.slate.100');
            border-radius: 5px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: theme('colors.purple.800');
        }
    }

    html, body {
        @apply relative
        bg-slate-100/10 text-slate-800
        dark:bg-slate-800 dark:text-slate-50
        min-h-screen
        ;

        /* Prevent scrollbar pushing content to the left: https://stackoverflow.com/questions/35513264/pure-css-way-to-prevent-scrollbar-pushing-content-to-the-left*/
        scrollbar-gutter: stable;
    }


    body {
        @apply font-dreamlab;
    }

    nav {
        @apply z-10;
    }

    main {
        @apply relative z-0 w-full flex flex-col;
    }





}


@layer tailwind-components {
    /* LAYOUTS */
    .landing-page {
        @apply w-full flex flex-col min-h-screen gap-16;
    }

    .hero {
        @apply relative min-h-screen grid grid-cols-1 grid-rows-1 place-items-center;
    }

    .flex-layout {
        @apply flex flex-col justify-start items-stretch gap-6;
    }

    .layout-horizontal-grid-2-cols {
        @apply grid grid-cols-1 auto-rows-fr gap-4 md:grid-cols-3 md:gap-6;
    }


    /* GRADIENTS */
    .gradient-after-primary {
        @apply after:content-[''] after:block  after:w-full after:h-0.5 lg:after:h-1 after:bg-gradient-to-r after:from-emerald-500 after:to-purple-400;
    }

    .gradient-after-success {
        @apply after:content-[''] after:block  after:w-full after:h-0.5 lg:after:h-1 after:bg-gradient-to-r after:from-emerald-500 after:to-emerald-400;
    }

    .gradient-after-secondary {
        @apply after:content-[''] after:block  after:w-full after:h-0.5 lg:after:h-1 after:bg-gradient-to-r after:from-purple-500 after:to-sky-400;
    }

    .gradient-after-accent {
        @apply after:content-[''] after:block  after:w-full after:h-0.5 lg:after:h-1 after:bg-gradient-to-r after:from-sky-500 after:to-emerald-400;
    }

    /* TYPOGRAPHY*/
    .heading {
        @apply font-headings text-center lg:text-left;
    }

    .title {
        @apply text-2xl md:text-4xl text-primary-500;
    }

    .subtitle {
        @apply text-xl md:text-2xl;
    }
/*
    .text-large {
        @apply text-3xl md:text-6xl
    }*/


    /* COMPONENTS */


    .cta-scroll-down {
        @apply flex flex-row justify-center;
    }


    .dreamlab-textual-logo {
        @apply font-display;

        &.primary {
            @apply text-transparent bg-clip-text bg-gradient-to-tr from-emerald-500 from-65% to-emerald-300;
        }

        &.indexpage {
            @apply text-transparent bg-clip-text bg-gradient-to-r from-30% from-emerald-500 via-60%  via-purple-500 to-65% to-sky-500;
        }

        span {
            @apply text-purple-400;
        }
    }
}

