@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Neuropol";
    src: url("../fonts/neuropol.otf") format("truetype");
}


@font-face {
    font-family: "Sephora";
    src: url("../fonts/sephora/Sephora.ttf") format("truetype"),
    url("../fonts/sephora/Sephora-Bold.ttf") format("truetype"),
    url("../fonts/sephora/Sephora-Italic.ttf") format("truetype");
}


@layer base {

    :root {
    }

    html, body {
        @apply relative
        bg-slate-100/10 text-slate-800
        dark:bg-slate-800 dark:text-slate-100
        min-h-screen
        ;

    }


    body {
        @apply font-dreamlab;
    }
}

@layer components {

    .card {
        @apply leading-[1.2rem] grid gap-1.5;

        .title {
            @apply font-headings;
        }

        &::after {
            @apply content-[""] w-full bg-gradient-to-r h-0.5 drop-shadow;
        }

        &.warning {
            @apply after:from-amber-600 after:to-amber-400;
        }

        &.accent {
            @apply after:from-purple-600 after:to-purple-400;
        }

        &.success {
            @apply after:from-emerald-600 after:to-emerald-400;
        }
    }
}


.auth-layout {
    @apply min-h-screen grid grid-cols-1 bg-white;

    .card {
        @apply grid grid-cols-1 gap-4 place-self-center bg-white rounded border shadow p-4;

        .title {
            @apply text-xl font-semibold text-center;
        }


        form {
            @apply grid grid-cols-1;

            input {
                @apply mb-4;
            }

            button {
                @apply my-4 p-2.5 px-6 font-semibold shadow hover:shadow-xl transition duration-500 disabled:bg-gray-300;
            }

        }
    }
}
